header{
    background-image: url('../public/cover.avif');
    height: 585px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    border: 2px solid red;
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 100px;
    color: white;
    font-family: cursive;
}
span{
  color: orange;
}
p, ul{
    font-size: 30px;
    font-weight: bold;
}

li{
    display: inline;
   
}

a{
    
    color: white;
}
button{
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
